
obj/WaveTableCrafter.csproj.nuget.g.targets
obj/WaveTableCrafter.csproj.nuget.g.props
obj/WaveTableCrafter.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net5.0/WaveTableCrafter.pdb
obj/Debug/net5.0/WaveTableCrafter.genruntimeconfig.cache
obj/Debug/net5.0/WaveTableCrafter.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/WaveTableCrafter.dll
obj/Debug/net5.0/WaveTableCrafter.csproj.FileListAbsolute.txt
obj/Debug/net5.0/WaveTableCrafter.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/WaveTableCrafter.csproj.AssemblyReference.cache
obj/Debug/net5.0/WaveTableCrafter.assets.cache
obj/Debug/net5.0/WaveTableCrafter.AssemblyInfoInputs.cache
obj/Debug/net5.0/WaveTableCrafter.AssemblyInfo.cs
obj/Debug/net5.0/ref/WaveTableCrafter.dll
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
bin/Debug/net5.0/WaveTableCrafter.runtimeconfig.json
bin/Debug/net5.0/WaveTableCrafter.runtimeconfig.dev.json
bin/Debug/net5.0/WaveTableCrafter.pdb
bin/Debug/net5.0/WaveTableCrafter.dll
bin/Debug/net5.0/WaveTableCrafter.deps.json
bin/Debug/net5.0/ref/WaveTableCrafter.dll
.vs/WaveTableCrafter/xs/UserPrefs.xml
.vs/WaveTableCrafter/xs/project-cache/WaveTableCrafter-Debug.json
.vs/BunWaveTable/xs/UserPrefs.xml
.vs/BunWaveTable/xs/project-cache/WaveSimulator-Debug.json
.vs/BunWaveTable/xs/project-cache/WaveTableCrafter-Debug.json
.DS_Store
WaveSimulator/obj/Debug/net5.0/WaveSimulator.assets.cache
WaveSimulator/obj/Debug/net5.0/WaveSimulator.csproj.AssemblyReference.cache
WaveSimulator/obj/project.assets.json
WaveSimulator/obj/project.nuget.cache
WaveSimulator/obj/WaveSimulator.csproj.nuget.dgspec.json
WaveSimulator/obj/WaveSimulator.csproj.nuget.g.props
WaveSimulator/obj/WaveSimulator.csproj.nuget.g.targets
WaveTableCrafter/bin/Debug/net5.0/WaveTableCrafter.dll
WaveTableCrafter/bin/Debug/net5.0/WaveTableCrafter.pdb
WaveTableCrafter/bin/Debug/net5.0/WaveTableCrafter.runtimeconfig.dev.json
WaveTableCrafter/bin/Debug/net5.0/WaveTableCrafter.runtimeconfig.json
WaveTableCrafter/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WaveTableCrafter/obj/Debug/net5.0/ref/WaveTableCrafter.dll
WaveTableCrafter/obj/Debug/net5.0/WaveTableCrafter.AssemblyInfo.cs
WaveTableCrafter/obj/Debug/net5.0/WaveTableCrafter.AssemblyInfoInputs.cache
WaveTableCrafter/obj/Debug/net5.0/WaveTableCrafter.assets.cache
WaveTableCrafter/obj/Debug/net5.0/WaveTableCrafter.csproj.AssemblyReference.cache
WaveTableCrafter/obj/Debug/net5.0/WaveTableCrafter.csproj.CoreCompileInputs.cache
WaveTableCrafter/obj/Debug/net5.0/WaveTableCrafter.csproj.FileListAbsolute.txt
WaveTableCrafter/obj/Debug/net5.0/WaveTableCrafter.dll
WaveTableCrafter/obj/Debug/net5.0/WaveTableCrafter.GeneratedMSBuildEditorConfig.editorconfig
WaveTableCrafter/obj/Debug/net5.0/WaveTableCrafter.genruntimeconfig.cache
WaveTableCrafter/obj/Debug/net5.0/WaveTableCrafter.pdb
WaveTableCrafter/obj/project.assets.json
WaveTableCrafter/obj/project.nuget.cache
WaveTableCrafter/obj/WaveTableCrafter.csproj.nuget.dgspec.json
WaveTableCrafter/obj/WaveTableCrafter.csproj.nuget.g.props
WaveTableCrafter/obj/WaveTableCrafter.csproj.nuget.g.targets
WaveTableCrafter/bin/Debug/net5.0/WaveTableCrafter.deps.json
WaveTableCrafter/bin/Debug/net5.0/ref/WaveTableCrafter.dll
