
obj/WaveTableCrafter.csproj.nuget.g.targets
obj/WaveTableCrafter.csproj.nuget.g.props
obj/WaveTableCrafter.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net5.0/WaveTableCrafter.pdb
obj/Debug/net5.0/WaveTableCrafter.genruntimeconfig.cache
obj/Debug/net5.0/WaveTableCrafter.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/WaveTableCrafter.dll
obj/Debug/net5.0/WaveTableCrafter.csproj.FileListAbsolute.txt
obj/Debug/net5.0/WaveTableCrafter.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/WaveTableCrafter.csproj.AssemblyReference.cache
obj/Debug/net5.0/WaveTableCrafter.assets.cache
obj/Debug/net5.0/WaveTableCrafter.AssemblyInfoInputs.cache
obj/Debug/net5.0/WaveTableCrafter.AssemblyInfo.cs
obj/Debug/net5.0/ref/WaveTableCrafter.dll
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
bin/Debug/net5.0/WaveTableCrafter.runtimeconfig.json
bin/Debug/net5.0/WaveTableCrafter.runtimeconfig.dev.json
bin/Debug/net5.0/WaveTableCrafter.pdb
bin/Debug/net5.0/WaveTableCrafter.dll
bin/Debug/net5.0/WaveTableCrafter.deps.json
bin/Debug/net5.0/ref/WaveTableCrafter.dll
.vs/WaveTableCrafter/xs/UserPrefs.xml
.vs/WaveTableCrafter/xs/project-cache/WaveTableCrafter-Debug.json
